{{#if user}}
    <div>
        <h5>
            Welcome back 
            <strong>{{user.username}}</strong>
        </h5>
        <ul>
            <li>
                <a href="/users/dashboard">dashboard</a>
            </li>
            <li>
                <a href="/{{type}}s/classes">My Classes</a>
            </li>
            <li>
                <a href="/users/logout">Logout</a>
            </li>
        </ul>
    </div>
{{else}}
    <div>
        <form action="/users/login" method="post">
            {{!-- username --}}
            <div class="form-inputs input-text">
                <input type="text" name="username" />
                <span>用户</span>
            </div>
            {{!-- password --}}
            <div class="form-inputs input-text">
                <input type="password" name="password" />
                <span>密码</span>
            </div>
            {{!-- submit --}}
            <div class="form-inputs input-submit">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
{{/if}}