<main class="viewAllCoursesPage">
    <section class="courseSearchAll-container">
        <div class="search-container">
            <form action="#" method="get">
                <div class="input-search">
                    <input type="search" name="search-course" />
                </div>
                <div>
                    <input type="submit" value="search" />
                </div>
            </form>
        </div>
    </section>
    <section class="coursesAll-container">
        <div class="courses-container">
            <div class="company-courses">
                <div class="course-card">
                    <div class="card-img">
                        <img src="/images/learn.jpg" alt="course image">
                    </div>
                    <div class="card-details">
                        <h1>课程标题</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique quos quo vero perferendis asperiores!
                        </p>
                    </div>
                    <div class="card-actions">
                        <a href="#" class="btn btn-current">
                            看课程
                        </a>
                    </div>
                </div>
            </div>
            <div class="company-courses">
                <div class="course-card">
                    <div class="card-img">
                        <img src="/images/learn.jpg" alt="course image">
                    </div>
                    <div class="card-details">
                        <h1>课程标题</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique quos quo vero perferendis asperiores!
                        </p>
                    </div>
                    <div class="card-actions">
                        <a href="#" class="btn btn-current">
                            看课程
                        </a>
                    </div>
                </div>
            </div>
            <div class="company-courses">
                <div class="course-card">
                    <div class="card-img">
                        <img src="/images/learn.jpg" alt="course image">
                    </div>
                    <div class="card-details">
                        <h1>课程标题</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique quos quo vero perferendis asperiores!
                        </p>
                    </div>
                    <div class="card-actions">
                        <a href="#" class="btn btn-current">
                            看课程
                        </a>
                    </div>
                </div>
            </div>
            {{#each Class}}
                {{log this}}
                <div class="company-courses">
                <div class="course-card">
                    <div class="card-img">
                        <img src="/images/learn.jpg" alt="course image">
                    </div>
                    <div class="card-details">
                        <h1>{{title}}</h1>
                        <p>
                            {{description}}
                        </p>
                    </div>
                    <div class="card-actions">
                        <a href="/classes/view/{{_id}}" class="btn btn-current">
                            看课程
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>