<main class="company-about">
    <section class="about-section about-details">
        <div class="introduction-column">
            <h1>语小伴</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quas atque ad veniam molestias culpa error iure, voluptas fugiat nostrum voluptatum? Quis saepe inventore laudantium omnis deserunt at magnam aperiam mollitia consequuntur earum dolorem accusantium, praesentium cumque repellendus sint voluptates maxime vel perspiciatis dicta quidem numquam sequi. Ullam eius praesentium laudantium incidunt mollitia, dolorum molestiae, error ratione sequi quae voluptate debitis dicta sunt consequuntur molestias libero eum velit sit? Quasi doloremque, corrupti ipsum ea est eos repudiandae minima rem quae!
            </p>
        </div>
        <div class="frequent-q">
            <h1>FQAs</h1>
            <div class="question">
                <div class="question-icon">
                    @
                </div>
                <div class="question-msg">
                    how to become an LP Instructor?
                </div>
            </div>
        </div>
    </section>
    <section class="about section about-contact"></section>
</main>
{{> Footer}}