<main>
    <section class="authentication">
        <div class="authentication-type">
            <button>登录</button>
            <button>注册</button>
        </div>
        <div class="form sign-up"></div>
        <div class="form sign-in"></div>
    </section>
</main>
{{> Footer}}